<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- The below cycles through the bills in the database and produces each one on the page -->
    <h1>Bills</h1>
    <ul>
    <% bills.forEach( el => { %>
            <li class='billItem' data-id='<%=el._id%>'>
                <span class='<%= el.paid === true ? 'paid' : 'not'%>'><%= el.bill %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

        <h2>You have 2 bills left to pay with this paycheck.</h2>
        <h3>You will need $71 more dollars to pay your last bill this paycheck</h3>

    <form action="/bills/createBill" method='POST'>
        <input type="text" placeholder="Enter bill" name='billItem'>
        <input type="number" placeholder="Cost" name="billItem">
        <input type="date" placeholder="Due Date" name="billItem">
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>

</body>
</html>